.container
    h2 {{ course.title }}
    p {{ course.published | date }}
    p {{ course.town }}
    .col-md-6.image-container
        img.img-rounded(ng-src="http://localhost:3030/app/images/{{course.imgName}}" alt="{{course.imgName}}" width="250px")