extends layout

block content
	#wrapper
		nav#main-nav
			ol
				each phone in phones
					li
						img.img-responsive(style="width: 100px" src=phone.src)
						p
							=phone.model
						p
							='Color: '+ phone.color
						p
							='Capacity: '+ phone.capacity
						p
							='Display: '+ phone.display
						p
							='Price: '+ phone.price
